<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" #>
<#@ output extension=".cs" #>
<#@ MobileDSL processor="MobileDSLDirectiveProcessor" requires="fileName='../QC/controller/e1.mdsl'"  #>

<# foreach (Controller controller in this.ComponentModel.Controllers) { #>
  <#=controller.Name#>	
  <# foreach (State state in controller.States) { #> 
    <#= state.Name #>
      <# foreach (ShowForm showForm in state.ShowForms) { #> 
	  ----------------------------------
        <#= showForm.Name #>
		    <# foreach (Event ev in showForm.Events) { #> 
				<#= ev.Name #>
			<#}#>
			<# foreach (Primitive primitive in showForm.Primitives) { #> 
				<#= primitive.Name #>
			<#}#>
			<# foreach (OutPort outport in showForm.OutPorts) { #> 
				aaaaa
			<#}#>
		

			<# foreach (ShowFormReferencesOutPorts link in ShowFormReferencesOutPorts.GetLinksToOutPorts(showForm)) { #> 
				<#= link.nextState #>
			<#}#>
		-------------------------------------
      <#}#>
 <#}#>
<#}#>

