<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("06e21da2-83e3-4bd6-9608-3974e9d2762c");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
